@charset "utf-8";

/* common.css
  サイト全体を通して共通になる指定内容を書くcommon.css。
　※ヘッダーやフッター等、全てのページにおいて同じデザインになるエリア用の内容。
　※ほか、複数のページで使いまわしたいような内容。
　※「common」＝一般的、共有、頻出…などの意味*/


/* リセットの記述 -------------------------------------*/
body,h1,h2,h3,p,ul,dl,dd,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

/* 全体に対する基本指定 ------------------------------------*/
*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1;
    font-family: YuGothic,"游ゴシック体","Yu Gothic","游ゴシック",Arial,"メイリオ",Meiryo,sans-serif;
    font-weight: 500;
    color:#333;
    background-color: transparent;
}

/* 使いまわしが効くクラス名での指定 ----------------------------------*/
.inner{
    width: 960px;
    margin: 0 auto;
}

.inner2{
    width: 720px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.bg-orange{
    background-color: #ff783c;
    color: #fff;
}

.bg-stars{
    background: url(../images/bg_stars.svg) center center repeat,
    #2679b2;
    color:#fff;
}

/* ヘッダー --------------------------------------------------------*/
header{
    padding: 10px 0;
    border-bottom: 3px solid #fff100;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

header h1{
    margin-bottom: 10px;
}

header a{
    color: #fff;
    transition: all 0.2s;
}

/* サブナビゲーションの配置 */
header .inner{
    position: relative;
    /* background-color: blueviolet; */
}

.s-nav{
    position: absolute;
    top:10px;
    right:0;
    font-size: 12px;
}

.s-nav li{
    margin-left: 1em;
}

.s-nav li a:hover{
    color:rgba(255,255,255,0.5)
}

/* グローバルナビゲーション */
nav ul li{
    width: 192px;
    text-align: center;
    border-left: 1px solid #fff;
    font-size: 14px;
    line-height: 2;
}

nav ul li:last-child{
    border-right: 1px solid #fff;
}

nav ul li a{
    display: block;
}

nav ul li a:hover{
    background-color: rgba(255,255,255,0.2);
}

nav ul .current{
    color:#fff100;
    font-weight: bold;
}

/* フッター ---------------------------------------------------*/
footer{
    padding:50px 0 110px 0;
    border-top: 3px solid #fff100;
    font-size: 14px;
}

footer a{
    transition: all 0.2s;
    color: #fff;
}

footer .logo{
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

footer .logo img{
    width: 100%;
}

.footer-wrap{
    margin-bottom: 50px;
    align-items: center;
}

footer .access{
    line-height: 2;
}

footer .access span{
    display: inline-block;
    width: 8em;
    text-align-last:justify;
    font-weight: bold;
    margin-right: 1em;
}

.insta span{
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}

.insta{
    text-align: center;
}

.insta a:hover{
    opacity: 0.5;
}

.sitemap{
    justify-content: flex-start;
    margin-bottom: 50px;
    font-weight: bold;
}

.sitemap > li{
    margin-right: 2em;
}

.sitemap li ul{
    padding-top: 12px;
    font-weight: 500;
    line-height: 2;
    font-size: 12px;
}

.sitemap ul li a::before{
    content:"-";
    margin-right: 0.5em;
}

.sitemap ul li a:hover{
    color:rgba(255,255,255,0.5);
}

.copyright{
    text-align: center;
}

.copyright small{
    font-size: 11px;
}

/* トップに戻るボタン -------------------------------------------*/

.to-top{
    position: fixed;
    right:50px;
    bottom:110px;
}

/* コンタクトバー ------------------------------------------------*/

.contact-bar{
    background-color: #fff;
    padding:10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.contact-bar .flex{
    width: 500px;
    margin: 0 auto;
    padding: 0;
}

address{
    font-size: 22px;
    font-weight: bold;
}

address span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}

.button{
    width:250px;
    line-height: 40px;
    background:url(../images/icon_submit.png) center left 15px no-repeat,
    linear-gradient(#fcaa02,#ff783c 70%);
    border-radius: 10px;
    text-align: right;
}

.button a{
    display: block;
    padding: 0 1.5em;
    transition: all .2s;
    color: #fff;
}

.button a:hover{
    text-shadow: 0 0 3px #fff;
}


/* 複数のページで使えそうなスタイル ------------------------------------------*/

/* 雲のライン */
.visual,
.m-points{
    position: relative;
}

.cloud-line::after{
    content:"";
    display: inline-block;
    width: 100%;
    height: 60px;
    background: url(../images/line_cloud.png) center center;
    position: absolute;
    left:0;
    bottom:-10px;
}

/* 三角付きボタン */
.btn a{
    font-size: 14px;
    display: inline-block;
    width:187px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    color:#3f89c3;
    background-color: #fff;
    border: 2px solid #3f89c3;
    border-radius: 20px;
    box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.btn a::after{
    margin-left: 10px;
    content: "▲";
    display: inline-block;
    transform: rotate(90deg);
    font-size: 12px;
}

.btn a:hover{
    background-color: #fff100;
}

/*  top.css --------------------------------------------------- */

@charset "utf-8";

/* トップページ固有の指定内容を書くtop.css。
　※そのページにだけ効けばいい内容。
　※ファイル名は「ページ名(英字).css」等にするのが一般的。*/

/* メインビジュアル ---------------------------------------------*/
.visual{
    margin-top: 96px;
    background: url(../images/mv_pic.jpg) center center no-repeat;
    min-height: 720px;
}

.to-news{
    text-align: right;
    padding-top: 30px;
}

.to-news a{
    transition: opacity .2s;
}

.to-news a:hover{
    opacity: 0.9;
}

.mv-catch{
    text-align: right;
    padding-top: 60px;
}

/* ここからmain内 ---------------------------------------------*/
h2{
    text-align: center;
}

/* ABOUT USエリア------------------------------------------*/
.m-about{
    padding: 50px 0 70px;
    border-bottom:3px solid #fff100;
}

.m-about h2{
    font-family: Arial,sans-serif;
    font-size: 32px;
    text-shadow:2px 2px #fff100;
    margin-bottom: 30px;
}

.m-about h2 span{
    display: inline-block;
}

.m-about h2 span:nth-child(1){
    font-size: 36px;
    color:#ff783c;
    transform: rotate(-10deg);
    margin-right: 5px;
}

.m-about h2 span:nth-child(2){
    color:#ff3b78;
    transform: rotate(10deg);
}

.m-about h2 span:nth-child(3){
    color:#04a5e9;
    transform: rotate(-10deg);
}

.m-about h2 span:nth-child(4){
    color:#aad127;
    transform: rotate(8deg);
    margin-right: 5px;
}

.m-about h2 span:nth-child(5){
    color:#00aa64;
    transform: rotate(-8deg);
    margin-right: 15px;
}

.m-about h2 span:nth-child(6){
    font-size: 36px;
    color:#0082ff;
    transform: rotate(10deg);
}

.m-about h2 span:nth-child(7){
    color:#8c48ba;
    transform: rotate(-10deg);
    margin-right: 5px;
}

.m-about p{
    line-height: 2;
}


/* ３つのポイントエリア -------------------------------------*/
.m-points{
    padding-top: 30px;
    padding-bottom: 100px;
}

.m-points .inner{
    padding-top: 50px;
    border-top:4px dotted #fff;
}

.m-points h2{
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
}

.pop-line{
    display: block;
    font-size: 32px;
    font-weight: bold;
    width: max-content;
    margin: 0 auto 30px;
    line-height: 50px;
    position: relative;
    color: #fff;
}

.pop-line::before{
    content:"";
    display: inline-block;
    width:50px;
    height: 50px;
    background: url(../images/pop_left_y.png) no-repeat;
    position:absolute;
    top:0;
    left:-50px;
}

.pop-line::after{
    content:"";
    display: inline-block;
    width:50px;
    height: 50px;
    background: url(../images/pop_right_y.png) no-repeat;
    position:absolute;
}

.m-points .point{
    width: 300px;
    text-align: center;
}

.point h3{
    font-size: 24px;
    padding-bottom:16px;
    position: relative;

}

.point h3::before{
    content:"1";
    font-size: 56px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
    color: transparent;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top:-12px;
}

.course h3::before{
    content:"1";
    text-shadow: 2px 2px 0 #ff3b78;
}

.teacher h3::before{
    content:"2";
    text-shadow: 2px 2px 0 #ff783c;
}
.school h3::before{
    content:"3";
    text-shadow: 2px 2px 0 #00aa64;
}

.point h3::after{
    content:"";
    display: block;
    width: 300px;
    height: 20px;
    background: url(../images/line_yellow.png);
}

.point .text{
    text-align:justify;
    padding: 16px 0;
    line-height: 1.8;
}

/* ボタンの色をカスタム */
.course .btn a{
    color:#ff3b78;
    border: 2px solid #ff3b78;
}

.teacher .btn a{
    color:#ff783c;
    border: 2px solid #ff783c;
}

.school .btn a{
    color:#00aa64;
    border: 2px solid #00aa64;
}


/* よくあるご質問エリア -------------------------------------------*/

.m-faq{
    margin:50px auto 70px;
    background-color: #96c828;
    transition: all .3s;
    box-shadow: 0 3px 0 0 #00aa64;
}

.m-faq a{
    padding: 14px;
    color: #fff;
    font-weight: bold;
    display: block;
}

.m-faq:hover{
    background-color: #84b125;
}

.m-faq div{
    border: 2px solid #fff;
    padding: 14px 14px 14px 0;
    align-items: center;
}

.m-faq div::before{
    padding: 0 24px;
    content: "?";
    font-size: 88px;
    text-shadow: 2px 2px 0 #00aa64;
    display: block;
}

.m-faq dl{
    border-left: 2px solid #fff;
    padding-left: 24px;
}

.m-faq dt{
    font-size: 32px;
    text-shadow: 2px 2px 0 #00aa64;
    margin-bottom: 14px;
}

.m-faq dd{
    line-height: 1.8;
}

.m-faq::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 4px dotted #ccc;
    position: relative;
    top:70px;
}

/* 最新情報エリア --------------------------------------------------*/

.m-news{
    padding-top: 70px;
}

.m-news .pop-line{
    color:#3f89c3;
}

.m-news .pop-line::before{
    background: url(../images/pop_left_b.png) no-repeat;
}

.m-news .pop-line::after{
    background: url(../images/pop_right_b.png) no-repeat;
}

.m-news dl{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    justify-content: flex-start;
    align-items: center;
}

.m-news dl dt{
    width: 100px;
    text-align: center;
    color: #fff;
    line-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

.m-news dl .type-1{
    background: #ff3b78;
}

.m-news dl .type-2{
    background: #04a5e9;
}

.m-news dl .type-3{
    background: #00aa64;
}

.m-news dl dd{
    margin-left: 1em;
}

.m-news .btn{
    text-align: right;
    margin:50px 0 70px;
}
